<div class="wrapper">
  <div class="container">
    <div class="content">
      <div class="task-info">
        <p class="task">
          Згідно варіанту створіть додаток, що складається с головного та дочірнього компонента. Шаблони
          та стилі компонентів реалізовано у окремих html та css(scss) файлах. Додато виконує наступне:
          У головному компоненті користувач вводить масив чисел, а дочірній компонент виводить середнє арифметичне кубів
          максимального та мінімального елементу масиву і середнє геометричне модулів цих чисел.
        </p>
      </div>
      <form class="main-form">
        <label for="array" class="form-label">Список чисел:</label>
        <input type="text" class="form-input" id="array" name="array" [(ngModel)]="array"
          placeholder="Приклад: 1 2 3...">
        <button class="btn" (click)="showInfo=!showInfo">Показати результат</button>
      </form>
      <app-descendant *ngIf="showInfo; else elseTemplate" [array]="array" (checkResult)="showInfo=!$event">
      </app-descendant>
      <ng-template #elseTemplate>
        <p class="alternative">Результат відсутній</p>
      </ng-template>
    </div>
  </div>
</div>